**/target/
**/.classpath
**/.project
**/.factorypath
**/.settings/
**/.sts4-cache/
**/.idea/
*.iml
**/bin/
**/node_modules/
**/.pnp
**/.pnp.js
**/build
**/.cache
**/public/index.html
**/public/manifest.json
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
package-lock.json
